body{

}

table.data-table {
    border: solid #ccc 1px;
    border-radius: 6px;
    box-shadow: 0 1px 1px #ccc;
}

table.data-table  tr:hover {
    background: #fbf8e9;
    transition: all 0.1s ease-in-out;
    cursor: pointer;
}

table.data-table  td, table  th {
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

table.data-table  th {
    background-color: #dce9f9;
    background-image: linear-gradient(top, #ebf3fc, #dce9f9);
    box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
    border-top: none;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
}

table.data-table  td:first-child, table  th:first-child {
    border-left: none;
}

table.data-table  th:first-child {
    border-radius: 6px 0 0 0;
}

table.data-table th:last-child {
    border-radius: 0 6px 0 0;
}

table.data-table  th:only-child{
    border-radius: 6px 6px 0 0;
}

table.data-table  tr:last-child td:first-child {
    border-radius: 0 0 0 6px;
}

table.data-table  tr:last-child td:last-child {
    border-radius: 0 0 6px 0;
}

.page-data{
    margin: 5px;

}